/*
!favicon.ico
!composer.json
!composer.lock
!README.md
!.gitignore

!wp-content/
wp-content/*
!wp-content/.gitkeep

!wp-content/uploads/
wp-content/uploads/*
!wp-content/uploads/.gitkeep

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/.gitkeep

!wp-content/languages/
wp-content/languages/*
!wp-content/languages/.gitkeep

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/foxili


